@import "../../common/scss/pxToRem.scss";
.cal-item{
  font-size: 14px;
  position: relative;
  height: pxToRem(45px);
  line-height: pxToRem(45px);
  padding:0 15px;
  border-bottom: 1px solid #f3f3f3;
  display: flex;
  justify-content: space-between;
}
.item-input{
  input{
  text-align: right;
  width: pxToRem(120px);
  line-height: pxToRem(16px);
  height: pxToRem(16px);
  margin-right: 5px;
  }
}
